* {
    box-sizing: border-box;
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

h1 {
    font-size: 52px;
    letter-spacing: -1.75px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

p {
    font-size: 1rem;
    font-style: normal;
    /* font-weight: 500; */
    line-height: 36px;
}

span {
    font-size: 1rem;
    line-height: 1.5rem;
}

img {
    width: 100%;
}

.titles {
    font-size: 24px;
    letter-spacing: -0.33px;
    line-height: 32px;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
    height: 70px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 15px;
    margin-bottom: 24px;
    padding-top: 90px;
}

#mega-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-top: 40px;
    max-width:1075px;
}

#asset-container {
    box-sizing: border-box;
    width: 70%;
    padding-left: 1rem;
    padding-right:2rem;
}

#chart {
    box-sizing: border-box;
    min-height: 350px;
}

#company-description {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 25px;
    width: 80%;
}

.about, .key-statistics {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.key-statistics div, .about div {
    width: 25%;
}

.key-statistics p, .about p {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}

.key-statistics span, .about span {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 1.5rem;
}

#news-container {
    display: flex;
    flex-flow: column;
}

.news-div {
    height: 134px;
}

#news-container span {
    letter-spacing: -0.1px;
    line-height: 20px;
}

.news-headline {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 4px 0
}

.news-link {
    color: rgb(106, 114, 120);
    font-size: 13px;
}

#buy-panel {
    box-sizing: border-box;
    width: 30%;
    height: 367px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px -12px 24px 0px, rgba(0, 0, 0, 0.06) 0px 12px 24px 0px, 0px -12px 24px rgba(0, 0, 0, 0.02), 0px 12px 24px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    border: 1px solid rgb(227, 233, 237);
}

#buy-3 {
    min-height: 108px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 24px 24px 24px;
    background-color: powderblue;
}

#buy, #sell {
    background-color: rgb(0, 200, 5);
    border: 0;
    outline: 0;
    color: white;
    font-size: 13px;
    font-weight: 400;
    height: 48px;
}

#buy-4 {
    font-size: 13px;
    color: rgb(0, 200, 5);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    min-height: 48px;
    border: 1px solid rgb(227, 233, 237);
    padding: 0 2rem;
}

/* div {
    border: 1px solid lightgray;
} */
