* {
    box-sizing: border-box;
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

h1 {
    font-size: 52px;
    letter-spacing: -1.75px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

p {
    font-size: 1rem;
    font-style: normal;
    /* font-weight: 500; */
    line-height: 36px;
}

span {
    font-size: 1rem;
    line-height: 1.5rem;
}

img {
    width: 100%;
}

.about,
.key-statistics{
    display: flex;
    flex-wrap: nowrap;

}

div{
    border: 1px solid black;
}
