* {
    box-sizing: border-box;
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

#home-container {
    display: flex;
    flex-direction: row;
}

#homepage-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 50px;
    padding-left: 2rem;
}

#homepage-chart {
    border: 1px solid red;
    height:400px;
    display:flex;
    align-content: center;
}

#homepage-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top: 1px solid lightgray;
    padding-top: 2rem;
}

#homepage-right {
    display: flex;
    width: 30%;
    max-width: 400px;
}
