.navbar_contianer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  width: 100%;
}



.search_bar {
  box-sizing: border-box;
  box-shadow: 0px 2px 2px 2px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start, baseline;
  width: 88%;
  padding: 6px;
}

.search_bar input {
  display: flex;
  flex-direction: row;
  width: 750px;
}

.root_page:hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-end, baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}


.rewards_button:hover {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.messages_button:hover {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.cash_balance:hover {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.account_button:hover {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}



/* .home_button {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 4px;
} */
