* {
    box-sizing: border-box;
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.fake_links_container{
  /* display:flex;
  flex-direction: row;
  font-weight: bold;
  float: right;
  width: 15%;
  margin: 3px;
  padding: 6px; */
  float: right;
  list-style-type: none;
  padding-right:20px;
}
.nav-link{
  display: inline;
  margin-right: 30px;
  margin-left: 0;
}


.navbar_contianer {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 3px;
  margin: 2px;
  border-radius: 3px; */
  width: 100%;
  margin-top: 25px;
}
.navbar_contianer::after {
  content: "";
  clear: both;
  display: table;
}

#logo-container{
  position: fixed;
  left: 30px;
  top: 0px;
}
#logo-container:hover{
  color: green;
}
#logo-container svg{
  width: 75px;
}

.search_bar {
  float: left;
  margin-left: 24.3%;
  list-style-type: none;
}

.search_bar input {
  /* display: flex;
  flex-direction: row; */
  width: 750px;
}

.root_page:hover {
  display: flex;
  flex-direction: row;
  justify-content: flex-end, baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}


.rewards_button:hover {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.messages_button:hover {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.cash_balance:hover {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.account_button:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-around, baseline;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: black;
}



/* .home_button {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  padding: 4px;
} */
