.add-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-ticker-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top: 49%;
    right: 80px;
    padding: 4px;
}
