.add-to-watchlist-container > .watchlist-components {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  max-width: 400px;
  padding: 2px;
  margin: 4px;
  align-items: center;
  /* position: relative; */
}

.watchlist-components {
  border: 2px solid grey;
  border-radius: 2px;
  box-shadow: lawngreen;
  align-items: right;
}

.current-price > .current-price:hover {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.current-price:hover {
  border: 1px solid black;
  border-radius: 4px;
  background-color: lawngreen;
}

.ticker-name  {
  display: flex;
  flex-direction:column;
  justify-content: left;
  border: 1px solid grey;
  border-radius: 6px;
}

.stock-logo {
  height: 40px;
  width: 40px;
  background-size: cover;
  border: solid 1px rgb(29, 27, 27);
  border-radius: 3px;
}
/* .stock-logo:hover {
  border: solid 1px black;
  border-radius: 3px;
} */
.delete-button > .delete-button:hover {
  height: 25px;
  width: fit-content;
  color: black;
  border-radius: 2px;
}
.delete-button:hover {
  cursor: pointer;
  color: red;
}

/* .watchlist-components {
  height: 789px;
  width: 276px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: justify;
} */

/* box-sizing: border-box;
  direction: ltr;
  height: 789px;
  position: relative;
  width: 276px;
  will-change: transform;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
} */

/*
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif; */

/*
  box-sizing: border-box;
  direction: ltr;
  height: 788px;
  position: relative;
  width: 276px;
  will-change: transform;
  overflow: hidden; */
