

.add-ticker-container > .add-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 80px;
}

.add-button {
  top: 49px;
  right: 60px;
  padding: 4px;
}
