.add-to-watchlist-container > .watchlist-components {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 250px;
  padding: 0 24px;
  margin: 0px;
  align-items: center;
  overflow: hidden;
  top: 40px;
  right: 40px;
  border: 2px solid whitesmoke;
    -webkit-box-shadow: 8px 0px 6px -6px grey;
	   -moz-box-shadow: 8px 0px 6px -6px grey;
	        box-shadow: 8px 0px 6px -6px grey;
}

.watchlist-components table {
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
  align-items: right;
}
.watchlist-components:hover {
  box-shadow: 24px grey;
}

.current-price {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-radius: 6px;
  width: 25%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

/* .current-price:hover {
  border: 1px solid black;
  border-radius: 3px;
  background-color: lawngreen;
} */

.ticker-name  {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  border-radius: 6px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  font-weight: bold;
}

.stock-logo {
  height: 36px;
  width: 36px;
  background-size: cover;
  border: solid 1px rgb(29, 27, 27);
  border-radius: 2px;
  margin: 2px;
  align-content: center;
}
/* .stock-logo:hover {
  border: solid 1px black;
  border-radius: 3px;
} */
.delete-button > .delete-button:hover {
  height: 25px;
  width: 25px;
  color: black;
  border-radius: 2px;
}
.delete-button:hover {
  cursor: pointer;
  color: red;
}

/* .watchlist-components {
  height: 789px;
  width: 276px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: justify;
} */

/* box-sizing: border-box;
  direction: ltr;
  height: 789px;
  position: relative;
  width: 276px;
  will-change: transform;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
} */

/*
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif; */

/*
  box-sizing: border-box;
  direction: ltr;
  height: 788px;
  position: relative;
  width: 276px;
  will-change: transform;
  overflow: hidden; */
